{% extends "_signedin_base.html" %}
{% block title %}innerList{% end %}
{% block content %}
<div class="innerLists container-fluid">
    <div class="card">
        <h5 class="card-header d-flex justify-content-between align-items-center">
            冷蔵庫の中身リスト
            <a class="btn btn-primary" href="/new" role="button">新規登録</a>
        </h5>
        <form class="input-group w-25 pt-3" method="get">
           <input type="text" name="word" class="form-control" placeholder="品名または誰のものかまたは分類">
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary">検索</button>
           </span>
        </form>
        <div class="card-body">
            {% if len(messages) > 0 %}
            <div class="alert alert-info" role="alert">
                {% for message in messages %}
                <p class="mb-0">{{ escape(message) }}</p>
                {% end %}
            </div>
            {% end %}
            {% if len(errors) > 0 %}
            <div class="alert alert-danger" role="alert">
                {% for err in errors %}
                <p class="mb-0">{{ escape(err) }}</p>
                {% end %}
            </div>
            {% end %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>品名</th>
                        <th>賞味期限</th>
                        <th>個数</th>
                        <th>誰のものか</th>
                        <th>分類</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for index, innerList in enumerate(innerLists) %}
                    <tr data-href="/innerList/show/{{ innerList.attr["id"] }}">
                        <td>{{ index+1 }}</td>
                        <td>{{ str(innerList.attr["product_name"]) }}</td>
                        <td>{{ innerList.attr["lim"] }}</td>
                        <td>{{ str(innerList.attr["amount"]) }}</td>
                        <td>{{ str(innerList.attr["whose"]) }}</td>
                        <td>{{ str(innerList.attr["kind"]) }}</td>
                        <td>
                            <form action="/delete" method="POST">
                                <input type="hidden" name="innerlist_id" id="innerlist_id"
                                    value="{{ innerList.attr["id"] }}">
                                <button type="submit" class="btn btn-danger">削除</button>
                            </form>
                        </td>
                    </tr>
                    {% end %}
                </tbody>
            </table>
            {% if len(innerLists) == 0 %}
            <div class="alert alert-info" role="alert">
                データがありません。<a href="/new">新規登録</a>してください。
            </div>
            {% end %}
        </div>
        <div class="card-footer d-flex justify-content-between">
            <a class="btn btn-primary" href="/wishlist" role="button">ほしい物リスト一覧へ</a>
        </div>
    </div>
    <script>
        // trクリック時の動作設定
        document.querySelectorAll("tr[data-href]").forEach((elm, i) => {
            elm.addEventListener("click", (e) => {
                console.log(e);
                // クリック可能な要素は、そのクリックイベントを優先する
                if (e.target.tagName == "A" &&
                    e.target.tagName == "INPUT" &&
                    e.target.tagName != "BUTTON") {
                    return;
                }
                // data-href属性に設定したリンクへロケーションを変える
                window.location = elm.dataset.href;
            });
        });
    </script>
</div>
{% end %}
