{% extends "_signedin_base.html" %}
{% block title %}WishList({{ mode }}){% end %}
{% block content %}
<div class="wishList wishList-form">
    <main role="main" class="container">
        {% if len(messages) > 0 %}
        <div class="alert alert-info" role="alert">
            {% for message in messages %}
            <p class="mb-0">{{ escape(message) }}</p>
            {% end %}
        </div>
        {% end %}
        {% if len(errors) > 0 %}
        <div class="alert alert-danger" role="alert">
            {% for err in errors %}
            <p class="mb-0">{{ escape(err) }}</p>
            {% end %}
        </div>
        {% end %}
        {% if mode == "new" %}
        <form method="POST">
            <div class="card">
                <h5 class="card-header d-flex justify-content-between align-items-center">
                    ほしい物リスト - 新規登録
                </h5>
                <div class="card-body">
                    <div class="form-row">
                        <div class="form-group col-6 invisible"><!-- 対象データIDは新規登録時未発行なため非表示項目 -->
                            <label for="form-id">対象データID</label>
                            <input type="number" class="form-control" name="form-id" id="form-id">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-name">品名</label>
                        <input type="text" class="form-control form-control-lg" name="form-name" id="form-name" value="{{ wishList.attr['name'] if wishList.attr['name'] is not None else '' }}">
                    </div>
                    <div class="form-group">
                        <label for="form-quantity">個数</label>
                        <input type="text" class="form-control form-control-lg" name="form-quantity" id="form-quantity" value="{{ wishList.attr['quantity'] if wishList.attr['quantity'] is not None else '' }}">
                    </div>
                    <div class="form-group">
                        <label for="form-kind">分類</label>
                        <input type="text" class="form-control form-control-lg" name="form-kind" id="form-kind" value="{{ wishList.attr['kind'] if wishList.attr['kind'] is not None else '' }}">
                    </div>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="/wishlist" class="btn btn-light" tabindex="-1">一覧へ戻る</a>
                    <button type="submit" class="btn btn-primary">新規登録</button>
                </div>
            </div>
        </form>
        {% end %} {% if mode == "edit" %}
        <form method="POST">
          <div class="card">
              <h5 class="card-header d-flex justify-content-between align-items-center">
                  現金出納データ - 詳細
              </h5>
              <div class="card-body">
                  <div class="form-row">
                      <div class="form-group col-6 invisible">
                          <label for="form-id">対象データID</label>
                          <input type="number" class="form-control" name="form-id" id="form-id" readonly value="{{ str(wishList.attr["id"]) }}">
                      </div>
                  </div>
                  <div class="form-group">
                      <label for="form-name">品名</label>
                      <input type="text" class="form-control form-control-lg" name="form-name" id="form-name" value="{{ wishList.attr['name'] if wishList.attr['name'] is not None else '' }}">
                  </div>
                  <div class="form-group">
                      <label for="form-quantity">個数</label>
                      <input type="text" class="form-control form-control-lg" name="form-quantity" id="form-quantity" value="{{ wishList.attr['quantity'] if wishList.attr['quantity'] is not None else '' }}">
                  </div>
                  <div class="form-group">
                      <label for="form-kind">分類</label>
                      <input type="text" class="form-control form-control-lg" name="form-kind" id="form-kind" value="{{ wishList.attr['kind'] if wishList.attr['kind'] is not None else '' }}">
                  </div>

              </div>
              <div class="card-footer d-flex justify-content-between align-items-center">
                  <a href="/wishlist" class="btn btn-light" tabindex="-1">一覧へ戻る</a>
                  <div>
                    <button type="submit" class="btn btn-outline-primary">変更</button>
                  </div>
              </div>
          </div>
        </form>
        {% end %}
    </main>
</div>
{% end %}
